// call test case

push static 0
call callTest01.neg 1
pop static 0

push constant 3
call callTest01.subAdd 1

pop static 1

label END
goto END

function callTest01.neg 0
push argument 0
neg
return 

function callTest01.subAdd 2
push local 0
push argument 0
sub
push local 1
add
return 